.Heading{
    display: flex;
    flex-direction: column;
}
.Heading--center{
    align-items: center;
}

.Heading__sub-title{
    font-style: normal;
    font-weight: 500;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.15em;
color: #2370C8;

}
.Headind__main-title{
    font-weight: 500;
font-size: 48px;
line-height: 117%;
color: #262A4E;

}