.ServicesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}
.ServicesList__item {
  width: 100%;
  min-height: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e5f3fe;
  border: 3px solid #cfeaff;
  position: relative;
  box-sizing: border-box;
  padding: 35px 65px;
}
.ServicesList__item:hover::after {
  content: "";
  left: 50%;
  bottom: -20px;
  width: 43px;
  height: 43px;
  position: absolute;
  border-radius: 100%;
  background: #2370c8 url("../../assets/images/Arrow1.svg") no-repeat center;
  transform: translateX(-50%);
}
.ServicesList__images {
  margin-bottom: 23px;
}
.ServicesList__title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #262a4e;
  margin-bottom: 5px;
}
.ServicesList__desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  color: #646464;
}
.ServicesList__item:hover {
  background: #ffffff;
  border: 2px solid #2370c8;
  box-sizing: border-box;
  box-shadow: 0px 4px 12px #d2ebff;
}
